/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
	scroll-snap-type: y mandatory;
    overflow-y: scroll;

}

p {
    color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 11vh;
	
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1rem;
}

a {
    color: #fff;
    text-decoration: none;
    text-decoration-color: white;
	padding:8px 20px;
	transition:0.6s ease;
}
a:hover {
	border-radius:30px;
	background:#379f00;
	color:#fff;
	
}
.contactBtnNav{
	cursor:pointer; 
	background:#379f00; 
	padding:8px 20px; 
	border-radius:30px; 
	box-shadow:0 10px 20px rgba(0,0,0,0.4);
}

.contactBtnNav:hover{
	background:black;
	color:#7b57ff;
	border:2px solid #7b57ff;
	box-shadow:0 10px 20px rgba(0,0,0,0.4);
}
.logo {
    font-size: 1.5rem;
	font-weight:700;
	color:#379f00;
}

.logo:hover {
    cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: flex;
	justify-content:center;
	align-items:center;
	gap:15px;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 100vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}
.section__pic-container img{
	transition:1.5s ease-in-out;
}
.section__pic-container img:hover{
	transition:1s ease-in-out;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}


.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: #14a800 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
	
}

.btn-color-1:hover {
    background: #fff;
	color:black;
	border:rgb(53, 53, 53) 0.1rem solid;
}
.btn-color-2 {
    background: none;
	color:#14a800;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}


.btn-container {
    gap: 1rem;
}

/* ABOUT SECTION */

#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}
.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
    position: relative;
}

.experience-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
	
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.article-container-experience {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: flex-start;
	align-items:center;
	width:100%;
	padding-left:20px;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

/* PROJECTS SECTION */

#projects {
    position: relative;
margin-top:200px;
	
}
#summary{
	margin-top:-130px;
}

.color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color: black;
}

.project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
	margin-bottom:100px;
	
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.5rem;
}

/* FOOTER SECTION */

footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}









.shadow-header {
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


.icon{
	
	margin-top:17px;
}


.projects__card{
	padding:15px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	width:300px;
	
}
.projects__image{
	    position: relative;
    margin-bottom: .75rem;

}

.projects__image .projects__button {
    position: absolute;
    right: 1rem;
    bottom: -1.5rem;
    padding: 1rem;
}

.button {
    background-color: black;
    padding: 1.1rem 1.5rem;
    color: white;
    transition: background-color .4s;
}
.mybuttonSpecial{
	 padding: 0.9rem 1.3rem;
}

.button i {
    font-size: 1.25rem;
}

.projects__content {
    margin-bottom: 1.25rem;
}


.projects__subtitle {
    position: relative;
    display: inline-block;
    margin-bottom: .75rem;
    padding-left: 1.75rem;
	color:#00a01d;
}

.projects__subtitle::after {
    content: '';
    width: 20px;
    height: 1px;
    background-color: #00a01d;
    position: absolute;
    top: 50%;
    left: 0;
}
.projects__title {
    margin-bottom: .75rem;
}






.owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
}
.owl-prev, .owl-next {
	width: 60px;
	height: 60px;
	line-height: 60px;
	color: black;
	border-radius: 50%;
	text-align: center;
	background: #fff;
	position: absolute;
	
	
	user-select: none; /* Prevents text selection */
  
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Transition duration for Safari */


}
.owl-prev {
	left: -60px;
	top: -30px;
}
.owl-next {
	right: -60px;
	top: -30px;
}
.owl-prev:hover, .owl-next:hover{
	background:black;
	color:#fff;
}

/* Adding the click effect using :after */
.owl-prev:after, .owl-next:after {
    content: "";
    position: absolute;
    border-radius: 50%; /* Same as the button's border-radius */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white; /* Color of the click flash */
    opacity: 0; /* Start fully transparent */
    transition: opacity 0.4s, background 0s; /* Control the opacity transition */
}

.owl-prev:active:after, .owl-next:active:after {
    opacity: 0.3; /* Make it visible but translucent on click */
    transition: opacity 0s; /* Immediate transition on click */
}

.owl-prev:active, .owl-next:active {
    top: -29px; /* Move slightly to simulate being pressed */
}

@media only screen and (max-width: 991px) {
	.owl-nav {
		display: none;
	}
}



/* Dots navigation */
.owl-dots {
  text-align: center;
  position: absolute;
  bottom: 20px; /* Adjust as necessary to position the dots */
  width: 100%;
  left:5px;
}

.owl-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 5px;
  background: #ccc; /* Default color for inactive dots */
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.owl-dot.active {
  background: #1f57c3; /* Color for active dot */
}

.owl-dot:hover {
  background: #777; /* Color on hover */
}


.projects-section .owl-dots {
  display: none;
}






#contact{
	min-height:100vh;
}

.containerss {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

:root {
    /* //....... Color ........// */
    --primary-color: #ff3c78;
    --light-black: rgba(0, 0, 0, 0.89);
    --black: #000;
    --white: #fff;
    --grey: #aaa;
}

.form {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.form .form-txt {
    flex-basis: 48%;
}

.form .form-txt h1 {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
 }

.form .form-txt span {
    font-size: 14px;
}

.form .form-txt h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 15px 0;
   }

.form .form-txt p {
    font-size: 14px;
}

.form .form-details {
    flex-basis: 48%;
}

.form .form-details input[type="text"],
.form .form-details input[type="email"] {
    padding: 15px 20px;
    color: var(--black);
    outline: none;
    border: 1px solid var(--grey);
    margin: 35px 15px;
    font-size: 14px;
	background:#fff;
}

.form .form-details textarea {
    padding: 15px 20px;
    margin: 0 15px;
    color: var(--black);
    outline: none;
    border: 1px solid var(--grey);
    font-size: 14px;
    resize: none;
	background:#fff;
}

.form .form-details button {
    padding: 15px 25px;
    color: var(--white);
    font-weight: 500;
    background: var(--black);
    outline: none;
    border: none;
    margin: 15px;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
}

.heroImgWrap{
	width:370px; height:370px;border-radius:50%; display:flex; box-shadow: 0 1px 20px #fff;
        box-shadow: 0 1px 0px 0px #14a800;
        padding: 10px;
		justify-content:center;
		align-items:center; overflow:hidden;
}
@media (max-width: 500px) {
    .form {
        display: flex;
        flex-direction: column;
    }
    .form .form-details button {
        margin-left: 0;
    }
    .form .form-details input[type="text"],
    .form .form-details input[type="email"],
    .form .form-details textarea {
        width: 85%;
        margin-left: 0;
    }
    .form .form-details input[type="text"] {
        margin-bottom: 0px;
    }
	#contact{
		margin-bottom:100px;
	}
	
	
}

@media(min-width: 501px) and (max-width: 768px) {
    .form {
        display: flex;
        flex-direction: column;
    }
    .form .form-details button {
        margin-left: 0;
    }
    .form .form-details input[type="text"],
    .form .form-details input[type="email"],
    .form .form-details textarea {
        width: 100%;
        margin-left: 0;
    }
    .form .form-details input[type="text"] {
        margin-bottom: 0px;
    }
}



#blogs{
	margin-top:70px;
}




.blogs .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
	justify-content:center;
	align-items:center;
	margin-top:50px;
}

.blogs .box-container .box{
    border-radius: .5rem;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    padding:30px;
	padding-bottom:40px;
	width:320px;
	
}

.blogs .box-container .box img{
    width:100%;
    border-radius: .5rem;
    object-fit: cover;
}

.blogs .box-container .box h3{
    font-size: 22px;
    padding:.5rem 0;
}

.blogs .box-container .box p{
    color:#666;
    font-size: 15px;
    padding:.5rem 0;
	margin-bottom:25px;
}
.blogs .box-container .box .btnsss{
	padding:8px 30px;
    background:#222;
    color:#fff;
    cursor: pointer;

}









html {
  
  position:relative;
}



.about-pic{
	width:400px; height:400px; object-fit:cover; box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

.myArticleOne{
	margin-right:40px;
}
.myArticleTwo{
	margin-right:50px;
}

@media only screen and (max-width: 767px) {
	.owl-nav {
		display: none;
	}
	#projects{
		margin-bottom:70px;
		margin-top:50px;
	}
	
#summary{
	margin-top:-30px;
}
	#contact{
		margin-top:200px;
	}
	
.myArticleOne{
	margin-right:0;
	margin-left:20px;
}
.myArticleTwo{
	margin-right:0;
	margin-left:20px;
}
.myArticleThree{
	
	margin-left:20px;
}
	
.about-pic{
	width:200px; height:200px; object-fit:cover; box-shadow:0 10px 20px rgba(0,0,0,0.2); 
}
.about-details-container{
	margin-top:70px;
}
	
.heroImgWrap{
	width:170px; height:170px;border-radius:50%; display:flex; box-shadow: 0 1px 20px #fff;
        box-shadow: 0 1px 0px 0px #14a800;
        padding: 10px;
		justify-content:center;
		align-items:center; overflow:hidden;
		
}
.my-hello-text{
	
	margin-top:60px;
}
}






/* For WebKit-based browsers */
::-webkit-scrollbar {
    width: 10px; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
    background-color: #14a800; /* Set the background color to cyan */
}

/* For Firefox */
::-moz-scrollbar {
    width: 10px; /* Adjust the width as needed */
}

::-moz-scrollbar-thumb {
    background-color: #14a800; /* Set the background color to cyan */
}
/* For WebKit-based browsers */
::-webkit-scrollbar-thumb:hover {
    background-color: lightblue; /* Set the background color to lightblue when hovered */
}

/* For Firefox */
::-moz-scrollbar-thumb:hover {
    background-color: lightblue; /* Set the background color to lightblue when hovered */
}













.myptag{
	color:black;
}
.toChangeBackgroundAbout{
	background:#fff;
}
.myhthree{
	color:#333;
}
.oneone{
	color:black;
}
.hamburger-icon span{
	background:black;
}

section {
    scroll-behavior: smooth;
	}


.myCustomButton {
	user-select:none;
  
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */

    position: relative;
}

.myCustomButton:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: inherit; /* Inherits the border-radius of the button */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
}

.myCustomButton:active:after {
    box-shadow: 0 0 0 0 white;
    opacity: 1;
    transition: 0s;
}

.myCustomButton:active {
    top: 1px; /* Gives a small effect of being pressed down */
}















.myCustomButtonBlack {
	user-select:none;
  
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */

    position: relative;
}

.myCustomButtonBlack:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: inherit; /* Inherits the border-radius of the button */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px black;
}

.myCustomButtonBlack:active:after {
    box-shadow: 0 0 0 0 black;
    opacity: 1;
    transition: 0s;
}

.myCustomButtonBlack:active {
    top: 1px; /* Gives a small effect of being pressed down */
}












.typing-demo {
  animation: typing 6s steps(27) infinite, blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  }
@keyframes typing {
  0%, 100% {
    width: 0; /* Start from no width */
  }
  45%, 55% {
    width: 100%; /* End at full width */
  }
  50%, 100% {
    width: 100%; /* Hold full width for 2 seconds */
  }
  60%, 95% {
    width: 100%; /* End at full width */
  }
  100% {
    width: 0; /* Back to no width */
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}













.toHoverCss {
--s: 0.1em;   /* the thickness of the line */
  --c: crimson; /* the color */
  
  color: #0000;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
}

.toHoverCss:hover {
 --_p: 100% /* Full underline on hover */
}

.toHoverCssHome {
--s: 0.1em;   /* the thickness of the line */
  --c: #14a800; /* the color */
  color: #0000;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,#555555 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
}

.toHoverCssHome:hover {
 --_p: 100% /* Full underline on hover */
}

.toHoverCssAbout {
  --s: 0.1em;   /* the thickness of the line */
  --c: crimson; /* the color */

  color: #0000;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,black 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
}

.toHoverCssAbout:hover {
  --_p: 100%; /* Full underline on hover */
}
















.wrapperaround{
  display: flex;
}
.static-txt{
  color: #55555;
  font-size:30px;
  
}
.dynamic-txts{
  margin-left: 10px;
  height: 45px; /* Reduced height to half */
  line-height: 45px; /* Adjusted line-height */
  overflow: hidden;
  margin-bottom:35px;
  text-align:left;
}
.dynamic-txts li{
  list-style: none;
  color: cyan;
  font-size: 30px; /* Reduced font size to half */
  font-weight: 700;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 45px; /* Adjusted line-height */
}

 .dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  border-left: 2px solid cyan;
  animation: typing 3s steps(10) infinite;
}
@keyframes slide {
  100%{
    top: -180px; /* Adjusted distance to half */
  }
}@keyframes typing {
  40%, 60% {
    left: calc(100% + 15px); /* Adjusted distance to half */
  }
  100% {
    left: 0;
  }
}

/* Disable scroll snap on mobile devices */
@media screen and (max-width: 767px) {
   
}

@media (max-width: 500px) {
	
.myFootText{
	margin-top:30px;
}
#contact{
	height:20vh;
}

.wrapperaround{
  display: flex;
  flex-direction:column;
  gap:5px;
}

.dynamic-txts{
  text-align:center;
}
}




.btn-color-1{
	border:none;
	outline:none;
	color:#fff;
	background:#14a800;
}














.containerSummary{
	width: 100%;
	
	
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:40px;

}
.containerSummary main.row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 0px;
}
.containerSummary .col header.title{
	font-family: helvetica;
	color: #7b57ff;
	text-align:left;
	font-size:19px;
	padding-left:30px;
	padding-bottom:30px;
}
.containerSummary .col .contents{
	padding: 0px 30px;
	border-left: 2px solid #bababa;
}
.containerSummary .col .contents .box{
	position: relative;
	padding: 20px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	cursor: pointer;
	transition: all 0.4s;
	margin-bottom: 20px;
	box-shadow: 0px 3px 12px 0px #ccc;
	border: 1px solid transparent;
}
.containerSummary .col .contents .box:hover{
	box-shadow: 0px 3px 12px 0px #ccc;
	border: 1px solid transparent;
}
.containerSummary .col .contents .box::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color: #7b57ff;
	border: 2px solid white;
}
.containerSummary .box h4{
	position: relative;
	color: #7b57ff;
}
.containerSummary .box h3{
	font-size: 19px;
	padding: 10px 0px 6px;
	font-family: helvetica;
	color: #444;
}
.containerSummary .box p{
	line-height: 1.2;
	color: #666;
	font-size: 17px;
}

#subject{
	width:82%; margin-top:-15px;
}
@media(max-width: 768px){
	.containerSummary main.row{
		grid-template-columns: 1fr;
	}
	.row .col:nth-child(2){
		margin-top: 30px;
	}
	
#subject{
	width:85%; margin-top:0px;
	margin-bottom:20px;

}
#newOrderForm{
	margin-bottom:100px;
}
}





@media only screen and (max-width: 1030px){
	
#summary{
	margin-top:100px;
}

}



#companies{
	margin-top:150px;
	height:60vh;
	
}
.companiesImgContainer{
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	gap:110px;
	margin-top:70px;
	flex-wrap:wrap;
}
.companiesImgWrap{
	width:210px;
}

.companiesImgWrap img{
	width:100%;
	object-fit:cover;
}

@media only screen and (max-width: 767px){

#companies{
	margin-top:0;
	height:60vh;
	
}
.companiesImgContainer{
	gap:30px;
	margin-top:70px;

	flex-direction:column;
}

	
}